@import url('https://fonts.googleapis.com/css2?family=Gaegu:wght@300&family=Nanum+Pen+Script&display=swap');

.answer-container {
    background: linear-gradient(to bottom, #b6b6b6, transparent);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 40px;
    padding: 10%;
    margin-top: 20%;
}

.answer-button {
    display: flex;
    width: 95%;
    justify-content: end;
}

.answer-input {
    border-radius: 10px;
    width: 90%;
    opacity: 0.6;
    border: none;
    font-family: 'Gaegu', sans-serif;
    font-size: 1.1em;
    font-weight: bold;
    padding: 3%;
}

.answer-textarea {
    border-radius: 10px;
    width: 90%;
    height: 450px;
    opacity: 0.6;
    border: none;
    font-size: 1.1em;
    font-weight: bold;
    font-family: 'Gaegu', sans-serif;
    padding: 3%;
}
