.write-container {
  background: linear-gradient(to bottom, #b6b6b6, transparent);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 40px;
  padding: 10%;
  margin-top: 20%;
}

.button-container {
  display: flex;
  margin-left: 50%;
}

input {
  border-radius: 10px;
  width: 80%;
  height: 40px;
}

textarea {
  border-radius: 10px;
  width: 80%;
  height: 450px;
}
