.upElement {
  display: flex;
  flex-direction: column;
  gap: 270px;
  margin-top: 35%;
}

.button-container {
  display: flex;
  justify-content: space-between;
  margin: 120px;
}

h1 {
  display: flex;
  justify-content: center;
}

img {
  margin-top: -13%;
  cursor: pointer;
}
