.home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 35%;
}

.home-button {
  display: flex;
  justify-content: space-between;
}

.upElement {
  display: flex;
  flex-direction: column;
  gap: 400px;
}

.home-img {
  display: flex;
  margin-left: -70%;
  cursor: pointer;
}

.home-inputId {
  border-radius: 10px;
  border: none;
  width: 220px;
  margin-left: 5px;
  padding: 7px;
}

.home-inputPw {
  border-radius: 10px;
  border: none;
  padding: 7px;
  width: 220px;
}

.home-inputElement {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-left: -20px;
}

.home-buttonElement {
  font-weight: bold;
  display: flex;
  gap: 10px;
  width: 130px;
  opacity: 1;
  margin-left: 100px;
}

.home-inputNumber {
  border-radius: 10px;
  border: none;
  padding: 7px;
}

.home-AnswerButtonElement {
  font-weight: bold;
  display: flex;
  gap: 10px;
  width: 160px;
  opacity: 1;
  margin-left: 70px;
  margin-top: 10%;
}

.home-noticeModal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home-notice {
  font-size: 0.9em;
  width: 97%;
  margin-left: 27%;
  line-height: 1.5;
}

.home-from {
  margin-left: 80%;
  width: 100%;
}

.home-noticButton {
  margin-left: 125%;
  width: 100%;
}
