.home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 35%;
}

.home-button {
  display: flex;
  justify-content: space-between;
}

.upElement {
  display: flex;
  flex-direction: column;
  gap: 400px;
}

.home-img {
  display: flex;
  margin-left: -70%;
  cursor: pointer;
}
