@import url("https://fonts.googleapis.com/css2?family=Gaegu:wght@300&family=Nanum+Pen+Script&display=swap");

.view-container {
  background: linear-gradient(to bottom, #b6b6b6, transparent);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: 5%;
  gap: 20px;
  margin-top: 15%;
}

.view-textare {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.originalText {
  border-radius: 10px;
  width: 90%;
  height: 300px;
  opacity: 0.5;
  font-family: "Gaegu", sans-serif;
  font-size: 1.1em;
  font-weight: bold;
  padding: 3%;
}

.myAnswer {
  border-radius: 10px;
  width: 90%;
  height: 300px;
  opacity: 0.5;
  font-family: "Gaegu", sans-serif;
  font-size: 1.1em;
  font-weight: bold;
  padding: 3%;
}

.view-button {
  width: 98%;
  display: flex;
  justify-content: end;
}
