.writeList-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(182, 182, 182, 0.5);
  border-radius: 10px;
  margin-top: 15%;
  gap: 30px;
  padding: 3%;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 80%;
}

.item-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  border-bottom: 2px solid #5d5d5d;
}

.item {
  font-weight: bold;
  font-size: 1.1em;
}

.item-content {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 7ch;
  font-weight: bold;
  font-size: 1.1em;
}

.item-nickName {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 7ch;
  font-weight: bold;
  font-size: 1.1em;
}
