.writeList-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(182, 182, 182, 0.5); /* RGB 색상 + 투명도 값 */
  border-radius: 10px;
  gap: 60px;
  margin-top: 20%;
  padding: 5%;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.item-container {
  display: flex;
  gap: 50px;
  border-bottom: 2px solid #5d5d5d;
}

.item {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 15px;
  font-weight: bold;
  font-size: 1.1em;
}
