@import url('https://fonts.googleapis.com/css2?family=Gaegu:wght@300&family=Nanum+Pen+Script&display=swap');

button {
    width: 100px;
    height: 40px;
    border-radius: 10px;
    background-color: #d9d9d9;
    border: 1px solid #000000;
    cursor: pointer;
    opacity: 0.5;
    font-family: 'Gaegu', sans-serif;
    font-size: 1.3em;
    font-weight: bold;
    transition: all 0.3s ease;
}

button:hover {
    background-color: #bfbfbf;
    opacity: 1;
    transform: scale(1.05);
}

button:active {
    background-color: #a3a3a3;
    transform: scale(0.98);
    box-shadow: inset 0px 2px 5px rgba(0, 0, 0, 0.2); /* 클릭 시 눌리는 느낌 */
}
